.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-thought-btn {
    background-color: #03a9f4;
    color: white;
    font-size: large;
    font-weight: 600;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.new-thought-btn:active {
    background-color: white;
    color: #03a9f4;
}
